DATABASE_URL=postgresql://user:password@localhost:5432/db_name

# generate using command: `openssl rand -base64 32`
JWT_ACCESS_SECRET_KEY=your-access-secret-key
JWT_REFRESH_SECRET_KEY=your-refresh-secret-key